# Ignore the virtual environment
phoetry_env/
venv/
.env/
torch_cpu.dll
dnnl.lib
env_Ph
.python-version

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
CACHEDIR.TAG
pyvenv.cfg
trained_model/

# Ignore project directories
Include/
Lib/
Scripts/
share/
checkpoint-10000/ 
checkpoint-13854/


